.features-section {
    width: 100vw;
    background: #0b0b0b;
    display: block;
}

.features-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 100px 20px;
}

.features-head {
    text-align: center;
    margin-bottom: 60px;
}

.features-head span {
    color: #9dff00;
    font-size: 50px;
    letter-spacing: 2px;
}

.features-head h2 {
    color: #fff;
    font-size: 42px;
    margin-top: 10px;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.feature-card:nth-child(even) {
    margin-top: 60px;
}

.feature-card {
    background: #1a1a1a;
    border-radius: 40px;
    padding: 40px 28px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feature-icon {
    margin-bottom: 26px;
}

.feature-icon img {
    width: 54px;
    height: 54px;
}

.feature-card h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 14px;
}

.feature-card p {
    color: #cfcfcf;
    font-size: 16px;
    line-height: 1.7;
    font-weight: 500;
}

.feature-card.active {
    border: 1px solid #9dff00;
}

@media (max-width: 1100px) {
    .features-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .feature-card:nth-child(even) {
        margin-top: 0;
    }
}

@media (max-width: 600px) {
    .features-grid {
        grid-template-columns: 1fr;
    }
}
