.slider-wrapper {
  width: 100vw;
  overflow: hidden;
  margin-top: 50px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.slider-track {
  display: flex;
  gap: 26px;
  width: max-content;
  animation: slideLeft 35s linear infinite;
  align-items: flex-start;
}

.slider-card {
  width: 300px;
  flex-shrink: 0;
  text-align: center;
  position: relative;
}

.slider-card:nth-child(odd) {
  margin-top: 30px;
}

.slider-card:nth-child(3n) {
  margin-top: 60px;
}

.slider-card img {
  width: 100%;
  height: 300px;
  object-fit: fill;
  border-radius: 18px;
  transition: 0.4s ease;
}

.slider-card:hover img {
  transform: scale(1.05);
}

.slider-text {
  margin-top: 14px;
  font-size: 18px;
  font-weight: 700;
  background: #000;
  padding: 8px 22px;
  border-radius: 24px;
  color: #fff;
  display: inline-block;
  white-space: nowrap;
}

@keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-33.33%);
  }
}
