.portfolio-section {
  width: 100%;
  background: #0b0b0b;
  padding: 100px 0;
}

.portfolio-container {
  max-width: 1300px;
  margin: auto;
  padding: 0 24px;
}

.portfolio-head {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.portfolio-tag {
  color: #9dff00;
  font-size: 14px;
  letter-spacing: 2px;
}

.portfolio-head h2 {
  color: white;
  font-size: 44px;
}

.portfolio-right {
  max-width: 420px;
}

.portfolio-right p {
  color: #cfcfcf;
  margin-bottom: 12px;
  line-height: 1.6;
}

.portfolio-btn {
  padding: 10px 24px;
  border-radius: 25px;
  border: 1px solid #9dff00;
  background: transparent;
  color: #9dff00;
}

/* Cards */
.portfolio-card {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.portfolio-card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  display: block;
  transition: 0.4s;
}

.portfolio-card:hover img {
  transform: scale(1.05);
}

.portfolio-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
}

.portfolio-content h4 {
  margin: 0;
}

.portfolio-content span {
  font-size: 13px;
  opacity: 0.85;
}
